@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}


div#contentContacto{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    font-family: 'proxima-nova';
    flex-direction: column;
    align-items: center;

}

div.main-info{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

div#container-form{
    width: 50vw;
    display: flex;
    align-items: center;
    margin: 4vw;
    flex-direction: column;
    background-color: #F5F5F5;
    height: 25vw;
}




div#container-form form#form-contacto{
width: 40vw;
margin: 1vw;
}


div#container-maps{
    width: 50vw;
    margin: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vw;

}

div.content-maps{
width: 40vw;
margin: 1vw;
height: 78%;

}

div#info-contacto{
    width: 50vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 3vw;
    margin-top: 1vw;
   
}

div#info-contacto div.grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 3vw;

    
}

div#info-contacto div.grid hr{
    width: 100%;
    color: #C72538;
}

div#info-contacto div.grid h3{
    width: 100%;
    font-size: 21px;
    font-family: 'proxima-nova-bold';
}

div#info-contacto div.grid p{
    font-size: 16px;
    width: 100%;
}


form#form-contacto div.mb-3 input[type="text"],
form#form-contacto div.mb-3 input[type="email"],
form#form-contacto div.mb-3 textarea,
form#form-contacto div.mb-3 select,
form#form-contacto div.mb-3 input[type="submit"]

{
    padding: 10px;
    border-radius: 0px;
    }

form#form-contacto h1,
div.content-maps h2
{
    margin-bottom: 2vw;
    font-family: 'proxima-nova-bold';

}

div.content-maps h2{
    font-size: 40px;
}

input#enviar-contacto{
    background-color: black;
    color: white;
    font-family: 'proxima-nova-bold';
    margin-top: 2vw;
}


/* responsive  movil*/

@media screen and (max-width: 768px) {
 
    div.main-info {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


    div#info-contacto {
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 25vw;
        margin-top: 35vw;
    }
    div#container-maps {
        width: 85vw;
        margin: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 96vw;
        margin-top: 25vw;
        text-align: center;
    }

    iframe#maps{
        border: 0;
    margin: 1vw;
}
    

    div.content-maps{
        width: 100%;
        height: 100%;
    }

    div.content-maps h2{
        padding-bottom: 3vw;
        padding-top: 3vw;
       font-size: 30px;
    }

   

    div#container-form {
        width: 85vw;
        display: flex;
        align-items: center;
        margin: 4vw;
        flex-direction: column;
        background-color: #F5F5F5;
        height: 100%;
        text-align: center;
        margin-top: 16vw;
    }


    div#container-form form#form-contacto {
        width: 100%;
        margin: 1vw;
    }

    form#form-contacto h1{
        padding-bottom: 3vw;
        padding-top: 3vw;
        font-size: 30px;
    }

    .mb-3 {
        margin-bottom: 1rem!important;
        display: flex;
        justify-content: center;
    }

    .form-control {
        display: block;
        width: 90%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .form-select {
        --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
        display: block;
        width: 90%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    div#info-contacto div.grid h3 {
        width: 100%;
        font-size: 17px;
        font-family: 'proxima-nova-bold';
    }
    
    
}









/* responsive portatil    */


@media screen and (min-width: 1281px) and (max-width: 1440px) and (min-height: 721px) and (max-height: 900px) {
   
    div#info-contacto{
        margin-top: 7vw;
        flex-wrap: wrap;
    }

    div#container-form {
        width: 50vw;
        display: flex;
        align-items: center;
        margin: 4vw;
        flex-direction: column;
        background-color: #F5F5F5;
        height: 100%;
    }

  }

  
