@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}


div#contentContacto{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    font-family: 'proxima-nova';
    flex-direction: column;
    align-items: center;

}

div.main-info{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

div#container-form{
    width: 50%;
    display: flex;
    align-items: center;
    margin: 4vw;
    flex-direction: column;
    background-color: #F5F5F5;
    height: 25vw;
}




div#container-form form#form-contacto{
width: 40vw;
margin: 1vw;
}


div#container-maps{
    width: 50%;
    margin: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vw;

}

div.content-maps{
width: 40vw;
margin: 1vw;

}

div#info-contacto{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3vw;
    margin-top: 1vw;
   
}

div#info-contacto div.grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 3vw;

    
}

div#info-contacto div.grid hr{
    width: 100%;
    color: #C72538;
}

div#info-contacto div.grid h3{
    width: 100%;
    font-size: 21px;
    font-family: 'proxima-nova-bold';
}

div#info-contacto div.grid p{
    font-size: 16px;
    width: 100%;
}


form#form-contacto div.mb-3 input[type="text"],
form#form-contacto div.mb-3 input[type="email"],
form#form-contacto div.mb-3 textarea,
form#form-contacto div.mb-3 select,
form#form-contacto div.mb-3 input[type="submit"]

{
    padding: 10px;
    border-radius: 0px;
    }

form#form-contacto h1,
div.content-maps h2
{
    margin-bottom: 2vw;
    font-family: 'proxima-nova-bold';

}

div.content-maps h2{
    font-size: 40px;
}

input#enviar-contacto{
    background-color: black;
    color: white;
    font-family: 'proxima-nova-bold';
    margin-top: 2vw;
}


