div#content-faq{
    width: 100%;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'proxima-nova';
}


div#content-faq div#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 4vw;

}

div#content-faq div#title h1{
    font-family: 'proxima-nova-bold';

}

div#faq{
    width: 60vw;
    margin-bottom: 3vw;
    padding: 1vw;
    background-color: #f5f5f5;
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #d0d0d0;
    box-shadow: none;
}

div.accordion-item button.accordion-button{
    font-family: 'proxima-nova-bold';
    font-size: 18px;
}


.accordion{
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(147 147 147 / 25%);
}




@media screen and (max-width: 768px) {
    
        div#content-faq div#title{
            margin-top: 16vw;
        }

        div#title h3{
            text-align: center;
            font-size: 19px;
        }

        div#faq{
            margin-top: 25vw;
            margin-bottom: 25vw;
            width: 90vw;
        }

        .accordion-button::after {
            flex-shrink: 0;
            width: var(--bs-accordion-btn-icon-width);
            height: var(--bs-accordion-btn-icon-width);
            margin-left: 35px;
            content: "";
            background-image: var(--bs-accordion-btn-icon);
            background-repeat: no-repeat;
            background-size: var(--bs-accordion-btn-icon-width);
            transition: var(--bs-accordion-btn-icon-transition);
        }


   }