@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}

div.footer{
    font-family: 'proxima-nova';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#infoFooter{
    
background-color: #262626;
display: flex;
flex-direction: row;
justify-content: center;
padding: 2.605vw 0vw;
}


div.copy{
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.522vw;
    font-family: 'proxima-nova-bold';
}

div.copy p{
    margin: 0vw;
}

ul#contactList li a{
    color: #7A7A7A;
    text-decoration: none;
    font-size: 0.72919vw;
    padding: 0vw 0vw 0vw 0.261vw;

}

ul#contactList li a:hover{
   color: #C72538;

}

ul#contactList li {
    padding: 0px 0px 12px;
    margin: 12px 0px 0px;
}

ul#documentsList li a{
    color: #7A7A7A;
    text-decoration: none;
    font-size: 14px;
}

ul#documentsList li a:hover{
   color: #C72538;
}

ul#contactList li svg{
color: white;    
margin: 0px 4.75px 0px 0px;
}


ul#listMedia {
    padding: 10px 0px;
    display: flex;
    margin-top: -20px;
    margin-left: -5px;
}



ul#listMedia li{
    margin-right: 12px;
}

ul#listMedia li svg{
    color: #C72538;
}

div.copy p{
    color: #7A7A7A;
    font-size: 16px;
}

.icons {
    transition: transform 0.3s ease-in-out;
  }
  
  .icons:hover {
    transform: scale(1.2); 
  }


  div#contact{
    padding: 10px 0px;
    width: 366.67px;
    height: 193.5px;
  }


  div#logo{
    padding: 10px 0px;
    width: 366.67px;
    height: 193.5px;
    text-align: center;
  }


  div#documents{
    padding: 10px 0px;
    width: 366.67px;
    height: 193.5px;
  }

  ul#documentsList li a{
    padding: 13px 20px;

  }

  ul#documentsList li{
    margin: 20px 0px 0px;

  }

  ul#documentsList{
    text-align: right;
  }