div#content-forbidden{
    min-height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {

    div#content-forbidden h2{
        text-align: center;
    }



  }