*{
   
    margin: 0;
    padding: 0;
    }


@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}






div.logo{
    margin-left: 15px;
}


div.header div.logo{
    float: left;
}

div.header div.mainMenu{
    float: right;
}

div.header{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




ul#secondMenu{
    width: 30vw;
}

ul#secondMenu li{
    float: left;
    margin-left: 10px;
    padding: 21px;
    list-style-type: none;
    text-align: center;
   

}
ul#secondMenu li:hover{
    background-color: #606060 ;
   

}

i.bi-person-fill{
    margin-right: 10px;
}
ul#secondMenu li a{
    text-decoration: none;
    color: white;
    font-family: 'proxima-nova-bold',Arial, sans-serif;;
    font-size: 16px;

}

/* barra de busqueda  */




    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 44px;
    background-color: white;
    border-radius: 30px;
    padding: 2px;
    }
    

    .search_input:focus, .search_input:focus-visible {
        caret-color: black; 
    }
    
    
    

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 920px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .search_input:focus{
        cursor: text;
    }
  
    .search_icon{
    height: 40px;
    width: 40px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    text-decoration:none;

    }

    .search_icon:hover{
        color: #C72538;
        
        }



/* menu lateral         */

a#lateralMenu{
    cursor: pointer;
}

#list{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

div.logo a#lateralMenu{
    padding: 19px;
}

div.logo a#lateralMenu:hover{
    background-color: #606060;
}


div.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.logo a#logo{
    margin-left: -5px;
}


div.latMenu{
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 100;
    left: 0;
    transition: all 500ms ease;
    z-index: 100;

}

div.container-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
}

div.container-menu nav{
    transform: translateY(15%);
}

div.container-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;

}

div.container-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}








/* responsive */

@media screen and (max-width: 768px) {
 
 div#mainContainer{
    width: 767px;
    
 }
    
    
   }