div.content{
    min-height: 40vw;
}


div#carouselExampleAutoplaying{
    width: 100%;
    height: 100%;
}

#search-phone{
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    height: 2.3vw;
    background-color: white;
    border-radius: 2vw;
    padding: 0.109vw;
    width: 50vw;

    }

    #container-search-phone{
        display: none;
    }

    


 /* responsive    */
 
 @media screen and (max-width: 768px) {

    /* barra de busqueda movil */


    #search_input:focus, .search_input:focus-visible {
        caret-color: black; 
    }
    
    
    

    #search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    caret-color:transparent;
    line-height: 2.2vw;
    padding: 5px;
    width: 100%;
    }

    #search_input:focus{
        cursor: text;
    }
  



    #container-search-phone{

        background: rgba(0, 0, 0, 0.8);
        padding: 10px;
    }

    #search-phone{
        display: block;
        height: 8vw;
        width: 100%;

    }

    
 

    #container-search-phone{
        /* display: flex; */
        display: none;
        justify-content: center;
    }



 }