
#row-tables{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
    justify-content: center;
  }
  
#reservas{
    background-color: #372929 !important;
}

.bg-gradient-primary {
    background-color: #09090a;
    background-image: linear-gradient(41deg, #000000 10%, #565860 100%);
    background-size: cover;
}

.bg-white{
    background-image: linear-gradient(41deg, #000000 10%, #565860 100%) !important;
}

#copy{
    color: white;
}

.text-gray-600{
    color: white !important;
}

#btn-search{
    background-image: linear-gradient(41deg, #000000 10%, #565860 100%);
    border-color: black;
}

.card.shadow.mb-4{
    width: 77vw;
}