
#row-tables{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
    justify-content: center;
  }
  
#reservas{
    background-color: #372929 !important;
}

.bg-gradient-primary {
    background-color: #09090a;
    background-image: linear-gradient(41deg, #000000 10%, #565860 100%);
    background-size: cover;
}

.bg-white{
    background-image: linear-gradient(41deg, #000000 10%, #565860 100%) !important;
}

#copy{
    color: white;
}

.text-gray-600{
    color: white !important;
}

#btn-search{
    background-image: linear-gradient(41deg, #000000 10%, #565860 100%);
    border-color: black;
}

.card.shadow.mb-4{
    width: 84vw;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #e3e6f0;
    vertical-align: middle;
    text-align: center;
}

div.table-responsive{
    height: 70vh;
    overflow: auto;
}

tbody tr td#descripcion {
    width: 700px;
    max-width: 700px;
    height: 162px;
    max-height: 250px;
    overflow: auto;
    display: block; 
    word-wrap: break-word; 
    white-space: normal; 
    padding-top: 15px;
}

.card-body{
    cursor: pointer;
}

#desc-head{
    width: 20vw ;
}

#accordionSidebar li.nav-item {
    transition: transform 0.3s ease;
}

#accordionSidebar li.nav-item:hover {
    transform: scale(1.03);
}

div.col-lg-6.mb-4 div.card{
    transition: transform 0.3s ease;

}

div.col-lg-6.mb-4 div.card:hover{
    transform: scale(1.05);

}


div#logo-title span:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), /* Sombra blanca para el brillo */
                 0 0 20px rgba(255, 255, 255, 0.5), /* Sombra blanca más amplia para un brillo más fuerte */
                 0 0 30px rgba(255, 255, 255, 0.5); /* Sombra blanca aún más amplia para un brillo intenso */
}


@media only screen and (max-width: 767px) {
   
    a#searchDropdown{
        display: none;
    }

  }
  