<div class="header">
      

    <div class="logo">
      <a id="lateralMenu"><svg xmlns="http://www.w3.org/2000/svg" id="list" width="27" height="27"
          fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg></a>
      <a href="index.html" id="logo"><img src="img/wheyaesth-logo.png" alt="Logo WheyAesth" width="250"></a>
    </div>


    <div class="search">
      <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <a href="#" class="search_icon"><i class="bi bi-search"></i></a>

            <input class="search_input" type="text" placeholder="Buscar...">
          </div>
        </div>
      </div>
    </div>

    <div class="mainMenu">
      <ul id="secondMenu">
        <li><a href=""><i class="bi bi-person-fill"></i>Iniciar sesión | Crear cuenta</a></li>
        <li><a href=""><i title="carrito" class="bi bi-cart"></i></a></li>
        <li><a href="contacto.html">Contacto</a></li>

      </ul>
    </div>

  </div>