<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="latMenu">
        <div class="container-menu">
          <nav>
            <a href="#">Suplementos</a>
            <a href="#">Accesorios</a>
            <a href="#">Novedades</a>
            <a href="#">Ofertas flash</a>
            <a href="#">FAQ</a>
            <div id="second-menu-items">

            </div>
          </nav>

        </div>
      </div>

</body>
</html>